<%- include('../partials/header') %>

<h1>This is where users can post things</h1>
<!-- need to mad materialize framework for css -->
<div class="card purple">
    <div class="card-content white-text">
        <form action="/posts" method="POST">
            <textarea name="text" placeholder="Type something here"></textarea>
       
          <button type="sumbit">Submit</button>
        </form>
    </div>
    <ul>
    <% posts.forEach( (post) => { %>
        <li>
            <%= post.text %> 
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button>DELETE 🗑</button>
        </form>    
        
            <a href="/posts/<%= post._id %>/edit"><button>UPDATE</button></a>
        </li>
    <% }) %>
    </ul>
</div>


<%- include('../partials/footer') %>