<%- include('../partials/header') %>

<div class="row">
    <div id="leftBody" class="col s2">
        <div class="container">
        <div class="navbar-fixed">
            <!-- <img id="logo" src="/imgs/bandit-icon.png" alt="LOGO"> -->
            <!-- <a href="/heart"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png" alt=""></a> -->

            <a class="asideBtn left" href="/posts"><i class="small material-icons">accessibility</i>Home</a>
            <a class="asideBtn left" href="/explore"><i class="small material-icons">explore</i>Explore</a>
            <a class="asideBtn left" href="/notifications"><i
                    class="small material-icons">notifications_none</i>Notifications</a>
            <a class="asideBtn left" href="/messages"><i class="small material-icons">message</i>Messages</a>
            <a class="asideBtn left" href="/profile"><i class="small material-icons">accessibility</i>Profile</a>
            <a class="asideBtn left" href="/bookmarks"><i class="small material-icons">bookmark_border</i>Bookmarks</a>
            <a class="asideBtn left" href="/more"><i class="small material-icons">more</i>More</a>
        </div>
    </div>
    </div>

    <div class="col s6">
        <div class="centerBody">
            <form action="/posts" method="POST">
                <h2>Home</h2>
                <textarea name="text" placeholder="What's Happening"></textarea>
                <button type="sumbit">POST</button>
            </form>
        </div>
        <ul>
            <% posts.forEach( (post) => { %>
            <li>
                <%= post.text %>
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="left waves-effect waves-grey btn-flat">
                        <i class="small material-icons">delete</i>
                    </button>
                </form>
                <a id="updateBtn" class="center" href="/posts/<%= post._id %>/edit">
                    <button class="waves-effect waves-grey btn-flat">
                        <i class="small material-icons">sync</i>
                    </button>
                </a>
                <button class="waves-effect waves-grey btn-flat">
                    <i class="small material-icons">favorite</i>
                </button>
            </li>
            <% }) %>
        </ul>
    </div>

    <div id="rightBody" class="col s4">
        <input type="text" placeholder="Search Twitter">
        <p id=trendingHeader><strong>Trends for you</strong> 
            <i class="small material-icons">trending_up</i>
        </p>
    </div>
</div>



<%- include('../partials/footer') %>