<%- include('../partials/header') %>

<div class="row container">
    <div id="leftBody" class="col s2">
        <div class="container">
            <div class="navbar-fixed">
                <a class="asideBtn left" href="/posts"><i class="small material-icons">home</i></a>
                <a class="asideBtn left" href="/explore"><i class="small material-icons">explore</i></a>
                <a class="asideBtn left" href="/notifications"><i
                        class="small material-icons">notifications_none</i></a>
                <a class="asideBtn left" href="/messages"><i class="small material-icons">message</i></a>
                <a class="asideBtn left" href="/profile"><i class="small material-icons">account_circle</i></a>
                <a class="asideBtn left" href="/bookmarks"><i class="small material-icons">bookmark_border</i></a>
                <a class="asideBtn left" href="/more"><i class="small material-icons">more</i></a>
            </div>
        </div>
    </div>

    <div class="col s6">
        <div class="textareaBody">
            <form action="/posts" method="POST">
                <h5 id="homeHeader"><strong>Home</strong></h5>
                <textarea name="text" placeholder="What's Happening"></textarea>
                <a class="asideBtn left" href="/image"><i class="small material-icons">image</i></a>
                <a class="asideBtn left" href="/gif"><i class="small material-icons">gif</i></a>
                <a class="asideBtn left" href="/chart"><i class="small material-icons">insert_chart</i></a>
                <button class="right waves-effect waves-light blue lighten-2 btn" type="sumbit">Tweet</button>
            </form><br><br>
        </div>
        <ul>
            <% posts.forEach( (post) => { %>
            <li>
                <div>
                    <a href=""><i class="small material-icons">sentiment_very_satisfied</i></a>
                </div>
                <div id="userPost">
                    <span>
                        <%= post.text %>
                    </span>
                </div>
                <div>
                    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                        <button class="left waves-effect waves-grey btn-flat">
                            <i class="small material-icons">delete</i>
                        </button>
                    </form>
                    <a id="updateBtn" class="center" href="/posts/<%= post._id %>/edit">
                        <button class="waves-effect waves-grey btn-flat">
                            <i class="small material-icons">sync</i>
                        </button>
                    </a>
                    <button class="waves-effect waves-grey btn-flat">
                        <i class="small material-icons">favorite</i>
                    </button>
                    <button class="waves-effect waves-grey btn-flat">
                        <i class="small material-icons">share</i>
                    </button>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>

    <div id="rightBody" class="col s4">
        <input type="text" placeholder="Search Twitter">
        <h5 id=trendingHeaders><strong>Trends for you</strong>
            <i class="small material-icons">trending_up</i>
        </h5>
        <div class="trendingList">
            <div class="trendingItem" id="trendingOne">
                <span class="trendHeader">Breaking News: Cryptocurrency</span><br>
                <a href="">#DOGE</a><br>
                <span>Elon Musk calls himself the "Dogefather" Dogecoin up 51%</span><br>
                <span class="trendHeader">3.2m Tweets</span><br>
            </div>
            <div class="trendingItem" id="trendingTwo">
                <span class="trendHeader">Culture: Trending</span><br>
                <a href="">Beeple NFT becomes most expensive ever sold at auction after fetching over $60 million</a>
            </div>
            <div class="trendingItem" id="trendingThree">
                <span class="trendHeader">COVID-19: LIVE</span><br>
                <a href="">India Covid-19: Deadly second wave spreads from cities to small towns</a>
            </div>
            <div class="trendingItem" id="trendingFour">
                <span class="trendHeader">Sports: Trending</span><br>
                <a href="">LeBron James rookie card sells for record $5.2 million</a><br>
                <span class="trendHeader">15.4K Tweets</span>
            </div>
            <div class="trendingItem" id="trendingFive">
                <a href="">#WannaGetAway</a><br>
                <span>Look a low far and get away.</span>
                <span>Promoted by Southwest Airlines</span><br>
                <span class="trendHeader">Ad</span><br>
            </div>
        </div>
        <h4 id=trendingHeaders><strong>Who to follow</strong></h4>
        <div class="followList">
            <table>
                <thead>
                    <tr>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img class="userAvatar" src="https://pbs.twimg.com/profile_images/1383184766959120385/MM9DHPWC_400x400.jpg" alt=""><a href="">Elon Musk</a></td>
                        <td><a class="waves-effect waves-light blue lighten-2 btn" href="">Follow</a></td>
                    </tr>
                    <tr>
                        <td><img class="userAvatar" src="https://pbs.twimg.com/profile_images/1343584679664873479/Xos3xQfk_400x400.jpg" alt=""><a href="">Google</a></td>
                        <td><a class="waves-effect waves-light blue lighten-2 btn" href="">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td><img class="userAvatar" src="https://pbs.twimg.com/profile_images/1318271172216324097/O7Xaryg2_400x400.jpg" alt=""><a href="">General Assembly</a></td>
                        <td><a class="waves-effect waves-light blue lighten-2 btn" href="">Follow</a></td>
                    </tr>
                </tbody>
            </table>
    
            <div>
                <a href="">Show more</a>
            </div>
        </div>
        <div class="legalFooter">
            <a href="">Terms of Service</a>
            <a href="">Privacy Policy</a>
            <a href="">Cookie Policy</a>
            <a href="">Ads info</a>
            <a href="">More</a>
            <span>© 2021 Twitter, Inc.</span> </div>
    </div>
    </div>
    <%- include('../partials/footer') %>